{% extends "base_generic.html" %} {% block content %}

<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	th, td {
		padding: 5px;
		text-align: left;
	}
</style>

<h1>Flight Instance Table</h1>

<h2>Departures</h2>
<table>
	<tr>
		<th>Destination</th>
		<th>Code</th>
		<th>Company</th>
		<th>Status</th>
		<th>Scheduled time</th>
		<th>Real time</th>
	</tr>
	{% for flightinstance in flightinstance_list %}
		{% if flightinstance.flight.direction == "Departure" %}

		<tr>
			<td>{{flightinstance.flight.airport.city}}-{{flightinstance.flight.airport.code}}</td>
			<td>{{flightinstance.flight.code}}-{{flightinstance.code}}</td>
			<td>{{flightinstance.flight.company}}</td>
			<td>{{flightinstance.status}}</td>
			<td>{{flightinstance.flight.time}}</td>
			<td>{{flightinstance.time}}</td>
		</tr>

		{% endif %}
	{% endfor %}
</table>

<h2>Arrivals</h2>
<table>
	<tr>
		<th>Origin</th>
		<th>Code</th>
		<th>Company</th>
		<th>Status</th>
		<th>Scheduled time</th>
		<th>Real time</th>
	</tr>
	{% for flightinstance in flightinstance_list %}
		{% if flightinstance.flight.direction == "Arrival" %}

		<tr>
			<td>{{flightinstance.flight.airport.city}}-({{flightinstance.flight.airport.code}})</td>
			<td>{{flightinstance.flight.code}}-{{flightinstance.code}}</td>
			<td>{{flightinstance.flight.company}}</td>
			<td>{{flightinstance.status}}</td>
			<td>{{flightinstance.flight.time}}</td>
			<td>{{flightinstance.time}}</td>
		</tr>
		{% endif %}
	{% endfor %}
</table>
{% endblock %}