{% extends "base_generic.html" %}

{% block content %}
  <a href="{{flight.get_absolute_url}}/update/">Update</a>
  <a href="{{flight.get_absolute_url}}/delete/">Delete</a>

  <h1>Code: {{ flight.code }}</h1>

  <p><strong>Company:</strong> {{ flight.company }}</p>
  <p><strong>Expected Time:</strong> {{ flight.time }}</p>
  <p><strong>Airport:</strong> {{ flight.airport }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Instances</h4>

    {% for instance in flight.instance.all %}
      <hr>
      <p><strong>Code:</strong> {{ instance.code }}</p>
      <p><strong>Status:</strong> {{ instance.status }}</p>
      <p><strong>Real time:</strong> {{ instance.time }}</p>
    {% endfor %}
  </div>
{% endblock %}
