{% extends "base_generic.html" %}

{% block content %}
  <a href="{{flight.get_absolute_url}}/update/">Update</a>
  <a href="{{flight.get_absolute_url}}/delete/">Delete</a>

  <h1>Code: {{ flight.code }}</h1>

  <p><strong>Company:</strong> {{ flight.company }}</p>
  <p><strong>Expected Departure:</strong> {{ flight.departure }}</p>
  <p><strong>Expected Duration:</strong> {{ flight.duration }}</p>
  <p><strong>Departure Airport:</strong> {{ flight.departure_airport }}</p>
  <p><strong>Arrival Airport:</strong> {{ flight.arrival_airport }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Instances</h4>

    {% for instance in flight.flightinstance_set.all %}
      <hr>
      <p><strong>Code:</strong> {{ instance.code }}</p>
      <p><strong>Status:</strong> {{ instance.status }}</p>
      <p><strong>Departure:</strong> {{ instance.departure }}</p>
      <p><strong>Duration:</strong> {{ instance.duration }}</p>
    {% endfor %}
  </div>
{% endblock %}
