{% extends "base_generic.html" %}

{% block content %}
  <h1>Code: {{ flight.code }}</h1>

  <p><strong>Departure:</strong> {{ flight.departure }}</p>
  <p><strong>Duration:</strong> {{ flight.duration }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Instances</h4>

    {% for instance in flight.flightinstance_set.all %}
      <hr>
      <p><strong>Code:</strong> {{ instance.code }}</p>
      <p><strong>Status:</strong> {{ instance.status }}</p>
      <p><strong>Departure:</strong> {{ instance.departure }}</p>
      <p><strong>Duration:</strong> {{ instance.duration }}</p>
    {% endfor %}
  </div>
{% endblock %}
