{% extends "base_generic.html" %}

{% block content %}
  <a href="{{flightinstance.get_absolute_url}}/update/">Update</a>
  <a href="{{flightinstance.get_absolute_url}}/delete/">Delete</a>

  <h1>Code: {{ flightinstance.all_code }}</h1>

  <p><strong>Status:</strong> {{ flightinstance.status }}</p>
  <p><strong>Real time:</strong> {{ flightinstance.time }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Flight</h4>
      <p><strong>Company:</strong> {{ flightinstance.flight.company }}</p>
      <p><strong>Expected Time:</strong> {{ flightinstance.flight.time }}</p>
      <p><strong>Airport:</strong> {{ flightinstance.flight.airport }}</p>
  </div>
{% endblock %}
