{% extends "base_generic.html" %}

{% block content %}
  <h1>Report</h1>

  <form method="get">
      {{ filter.form.as_p }}
      <input type="submit" />
  </form>

  {% if filter.qs %}
  <ul>
    {% for flightinstance in filter.qs %}
      <li>
        <a href="{{ flightinstance.get_absolute_url }}">{{ flightinstance.all_code }}</a> ( Status: {{flightinstance.status}}, Real time: {{ flightinstance.time}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No match flight in the system.</p>
  {% endif %}
{% endblock %}
